**Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction. (1 pt)**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)**

**Objectives:**
- Popular languages in Data Science.
- Popular libraries in Data Science.
- Popular tools of Data Science.
- Introduction to aritmatic expression in python.
- Python Function to convert Minutes into Hours.

**Exercise 4 - Create a markdown cell to list data science languages. (3 pts)**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. MATLAB
7. SAS
8. c/c++

**Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)**

Some of the commonly used libraries used by Data Scientists include:

 In python
1. Pandas
2. Numpy
3. TensorFlow
4. Scikit
5. Scipy
6. Seaborns

In R:
1. Plotly
2. DPlyr
3. ggplot
4. RCrawler

**Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)**

| Data Science Tools |
| --- | 
| Python |
| R |
| Matplotlib |
| SQL |
| Deeplearning |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)**

In [4]:
3+4

7

In [5]:
5*7

35

In [6]:
(5+7)*12

144

**Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)**

This will convert 200 minutes to hours by diving by 60.

In [7]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Test the function
minutes = 200
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)**

## Author
Vinay Mahamunkar